<% layout("/layouts/bolierplate") %>
<div class="row">
    <div class="alert alert-danger col-8 offset-3" role="alert">

        <h4 class="alert-heading"><%=err.message  %></h4>
        <!-- <p>There was an error in your request. Please try again.</p> -->
        
          </div>
</div>